---
import Layout from "@/layouts/Layout.astro";
import directus from "@/lib/directus";
import { readItems } from "@directus/sdk";
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const exhibitions = await directus.request(readItems("exhibitions", {
    fields: ['*,gallery.*', { relation: ['*']  }],
  }));
  return exhibitions.map((e) => ({ params: { slug: e.slug }, props: e}));
}
const e = Astro.props;
---

<Layout title={e.title} description={e.social_description} social_cover={e.social_cover}>
  <main>
    <h1 class="text-center text-3xl pb-6">Project {e.slug}</h1>
    <div class="mx-auto prose" set:html={e.content} />
    <div class="grid grid-col-1 gap-4 p-8">
      { e.gallery && e.gallery.map((i: {directus_files_id: string}, x: number) =>
        <Image 
          src={`${import.meta.env.DIRECTUS_URL}/assets/${i.directus_files_id}?key=ex`} 
          alt={`Artwork #${x+1} of ${e.title}`} 
          class="border border-main"
          inferSize />
      )}
    </div>
  </main>
</Layout>
