---
import directus from "@/lib/directus";
import "@/styles/global.css";
import { readItems, readSingleton } from "@directus/sdk";
import '@fontsource/courier-prime';
import { SEO } from "astro-seo";

const exhibitions = await directus.request(
  readItems("exhibitions", { fields: [ "slug", ] })
);
const global = await directus.request(readSingleton("global"));

const { title, description = '', social_cover = '' } = Astro.props;
const path = Astro.url.pathname.split("/");
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <SEO 
      title=`${title} 🟨 ${global.title}`
      description={description}      
      openGraph={{
        basic: {
          title: `${title} 🟨 ${global.title}`,
          type: "website",
          image: `${import.meta.env.DIRECTUS_URL}/assets/${social_cover}?width=500`
        },
        optional: {
          description
        },
      }}
      charset="UTF-8"
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
      }}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body class="mx-auto flex max-w-3xl flex-col gap-8 p-10">
    <a href="/" class="text-3xl whitespace-nowrap">{global.title}</a>
    <nav
      class="mx-auto flex w-full flex-col-reverse justify-between gap-3 md:flex-row md:items-center md:gap-12"
    >
      <div class="flex flex-col-reverse gap-3 md:flex-row md:gap-12">
        <a href="/projects" class:list={[{'active': path.includes('project')}]}>Projects</a>
        <a href="/exit" class:list={[{'active': path.includes('exit')}]}>
          Exit Through the Gift Shop
        </a>
      </div>
      <a href="/about" class:list={[{'active': path.includes('about')}]}>
        About
      </a>
    </nav>
    <nav class:list={[{ 'hidden': !path.includes('project') }]}>
      <ul class="flex gap-3">
        {exhibitions.map((exhibition) => (
          <li>
            <a href={`/project/${exhibition.slug}`} class:list={[{ 'active': path.includes(exhibition.slug) }]}>{exhibition.slug}</a>
          </li>
        ))}
      </ul>
    </nav>
    <main class="h-full">
      <slot />
    </main>
  </body>
</html>
